.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-control-container {
  position: absolute;
  right: 56px;
}

.InfoPopUp {
  position: absolute;
  display: grid;
  grid-template-areas:
    "photo"
    "name"
    "aplications"
    "description"
    "photos";
  grid-template-columns: auto;
  grid-template-rows: 4fr 1fr 100px 6fr 2fr;
  left: 0;
  top: 0;
  width: 408px;
  height: 100vh;
  z-index: 1000;
  background-color: white;
  box-shadow: 1px 1px 8px 1px rgb(180, 180, 180);
  overflow: auto;
}

.photo {
  grid-area: photo;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
}

.name {
  grid-area: name;
  padding-left: 20px;
  padding-right: 20px;
}

.aplications {
  grid-area: aplications;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  padding-left: 20px;
  padding-right: 20px;
}

.aplications button {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 0.5px solid black;
  text-align: center;
}

.aplications svg {
  width: 25px;
  height: 25px;
}
.description {
  grid-area: description;
  padding-left: 20px;
  padding-right: 20px;
}

.photos {
  grid-area: photos;
  border-top: 1px solid rgb(180, 180, 180);
  padding-left: 20px;
  padding-right: 20px;
}

/* CSSTransition classes  */
.popUp-appear {
  opacity: 0.01;
  transform: translate(0, -10px);
}
.popUp-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 300ms ease-in-out;
}

.popUp-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.popUp-exit-active {
  opacity: 0.01;
  transform: translate(0, -10px);
  transition: all 300ms ease-in;
}

/*  */

.searcher {
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 392px;
  height: 48px;
  border: 0;
  margin-left: 8px;
  margin-top: 8px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 1px 1px 8px 1px rgb(180, 180, 180);
}

.searcher input {
  width: 60%;
  height: 24px;
  border: 0;
}

.searchButtom {
  width: 54px;
  height: 48px;
  border: 0;
  background-color: white;
  border-radius: 8px;
}

.searchButtom svg {
  width: 22px;
  height: 22px;
}

.line {
  position: absolute;
  margin-top: 15px;
  margin-right: 45px;
  border-left: 1 px solid #ddd;
  padding: 0;
  height: 28px;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}
